www.mainecybertech.com, app.mainecybertech.com {
    tls /etc/caddy/certs/fullchain.pem /etc/caddy/certs/privkey.pem {
        protocols tls1.2 tls1.3
    }
    reverse_proxy web:3000

    header / {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

api.mainecybertech.com {
    tls /etc/caddy/certs/fullchain.pem /etc/caddy/certs/privkey.pem {
        protocols tls1.2 tls1.3
    }
    reverse_proxy api:4000

    header / {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

www.mainecybertech.us, app.mainecybertech.us {
    tls /etc/caddy/certs/fullchain.pem /etc/caddy/certs/privkey.pem {
        protocols tls1.2 tls1.3
    }
    reverse_proxy web:3000

    header / {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

api.mainecybertech.us {
    tls /etc/caddy/certs/fullchain.pem /etc/caddy/certs/privkey.pem {
        protocols tls1.2 tls1.3
    }
    reverse_proxy api:4000

    header / {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
