# Production zone: mainecybertech.com
cloudflare_zone_id_prod         = "replace-with-cloudflare-zone-id-for-mainecybertech.com"
cloudflare_prod_app_name        = "app"
cloudflare_prod_api_name        = "api"
cloudflare_prod_app_target      = "replace-with-vercel-inspect-target-for-app.mainecybertech.com"
cloudflare_prod_api_target      = "replace-with-prod-alb-dns-name"

# Testing zone: mainecybertech.us
cloudflare_zone_id_test         = "replace-with-cloudflare-zone-id-for-mainecybertech.us"
cloudflare_test_app_name        = "app"
cloudflare_test_api_name        = "api"
cloudflare_test_app_target      = "replace-with-vercel-inspect-target-for-app.mainecybertech.us"
cloudflare_test_api_target      = "replace-with-test-alb-dns-name"

cloudflare_proxy_app_records    = true
cloudflare_proxy_api_records    = true
