openapi: 3.0.3
info:
  title: MCT Client Portal API
  description: |
    Maine CyberTech Client Portal API.
    All endpoints require Bearer token authentication unless noted.
  version: 1.0.0
  contact:
    name: MCT Support
    email: support@mainecybertech.com

servers:
  - url: https://api.mainecybertech.com
    description: Production
  - url: http://localhost:4000
    description: Local development

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            status:
              type: integer
            details:
              type: object

    PaginatedResult:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer

    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          enum: [pending, approved, rejected, suspended]
        primary_domain:
          type: string
          nullable: true
        support_plan:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Project:
      type: object
      properties:
        id:
          type: string
        organization_id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [planned, active, on_hold, completed, cancelled]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        starts_at:
          type: string
          format: date-time
          nullable: true
        due_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Ticket:
      type: object
      properties:
        id:
          type: string
        organization_id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [new, open, in_progress, waiting, resolved, closed]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        category:
          type: string
          nullable: true
        source:
          type: string
          enum: [admin, portal]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Document:
      type: object
      properties:
        id:
          type: string
        organization_id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        visibility:
          type: string
          enum: [private, org, internal, public]
        folder_path:
          type: string
          nullable: true
        storage_bucket:
          type: string
          nullable: true
        storage_path:
          type: string
          nullable: true
        mime_type:
          type: string
          nullable: true
        file_name:
          type: string
          nullable: true
        file_size:
          type: integer
          nullable: true
        uploaded_by:
          type: string
          nullable: true
        current_version:
          type: integer
          nullable: true
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Profile:
      type: object
      properties:
        id:
          type: string
        full_name:
          type: string
          nullable: true
        email:
          type: string
        phone:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        is_super_admin:
          type: boolean
        default_organization_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    Membership:
      type: object
      properties:
        id:
          type: string
        organization_id:
          type: string
        user_id:
          type: string
        role_id:
          type: string
        status:
          type: string
          enum: [pending, approved, rejected]
        is_billing_contact:
          type: boolean
        is_security_contact:
          type: boolean
        created_at:
          type: string
          format: date-time

    Role:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        name:
          type: string

    AuditLog:
      type: object
      properties:
        id:
          type: string
        organization_id:
          type: string
          nullable: true
        actor_user_id:
          type: string
          nullable: true
        actor_type:
          type: string
        action:
          type: string
        entity_type:
          type: string
        entity_id:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time

    CreateOrganization:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        slug:
          type: string
          pattern: "^[a-z0-9-]+$"
          minLength: 1
          maxLength: 100
        primaryDomain:
          type: string
          maxLength: 255
        supportPlan:
          type: string
          maxLength: 100

    CreateProject:
      type: object
      required: [organizationId, name]
      properties:
        organizationId:
          type: string
        name:
          type: string
          minLength: 1
          maxLength: 500
        description:
          type: string
          maxLength: 10000
        status:
          type: string
          enum: [planned, active, on_hold, completed, cancelled]
          default: planned
        priority:
          type: string
          enum: [low, normal, high, urgent]
          default: normal
        startsAt:
          type: string
          format: date-time
        dueAt:
          type: string
          format: date-time

    CreateTicket:
      type: object
      required: [organizationId, title]
      properties:
        organizationId:
          type: string
        title:
          type: string
          minLength: 1
          maxLength: 500
        description:
          type: string
          maxLength: 10000
        priority:
          type: string
          enum: [low, normal, high, urgent]
          default: normal
        category:
          type: string
          maxLength: 100
        source:
          type: string
          enum: [admin, portal]
          default: admin

    CreateDocument:
      type: object
      required: [organizationId, name]
      properties:
        organizationId:
          type: string
        name:
          type: string
          minLength: 1
          maxLength: 500
        description:
          type: string
          maxLength: 10000
        visibility:
          type: string
          enum: [private, org, internal, public]
          default: org
        folderPath:
          type: string
          maxLength: 500

    DashboardSummary:
      type: object
      properties:
        managedServices:
          type: integer
        openTickets:
          type: integer
        activeProjects:
          type: integer
        totalDocuments:
          type: integer
        pendingMemberships:
          type: integer

  responses:
    Unauthorized:
      description: Missing or invalid authorization
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiResponse"
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiResponse"

paths:
  /health:
    get:
      tags: [System]
      summary: Health check
      security: []
      responses:
        "200":
          description: Service is healthy

  /api/v1/auth/sign-in:
    post:
      tags: [Auth]
      summary: Sign in with email/password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: Signed in

  /api/v1/auth/sign-up:
    post:
      tags: [Auth]
      summary: Register a new account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, fullName]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                fullName:
                  type: string
      responses:
        "201":
          description: Account created

  /api/v1/auth/sign-out:
    post:
      tags: [Auth]
      summary: Sign out
      responses:
        "200":
          description: Signed out

  /api/v1/auth/me:
    get:
      tags: [Auth]
      summary: Get current user
      responses:
        "200":
          description: Current user info

  /api/v1/auth/callback:
    post:
      tags: [Auth]
      summary: Exchange PKCE code for session
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
      responses:
        "200":
          description: Session created

  /api/v1/organizations:
    get:
      tags: [Organizations]
      summary: List organizations
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected, suspended]
        - name: ids
          in: query
          schema:
            type: string
          description: Comma-separated IDs
      responses:
        "200":
          description: List of organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Organization"
    post:
      tags: [Organizations]
      summary: Create organization (admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganization"
      responses:
        "201":
          description: Organization created

  /api/v1/organizations/{id}:
    get:
      tags: [Organizations]
      summary: Get organization
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Organization details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Organizations]
      summary: Update organization (admin)
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                slug:
                  type: string
                status:
                  type: string
                  enum: [pending, approved, rejected, suspended]
                primaryDomain:
                  type: string
                supportPlan:
                  type: string
      responses:
        "200":
          description: Organization updated
    delete:
      tags: [Organizations]
      summary: Delete organization (admin)
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "204":
          description: Organization deleted

  /api/v1/organizations/{id}/detail:
    get:
      tags: [Organizations]
      summary: Get organization with all related data (compound endpoint)
      description: Returns organization, domains, memberships, profiles, and roles in a single call.
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Compound organization detail
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/organizations/{id}/domains:
    get:
      tags: [Organizations]
      summary: List domains
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: List of domains
    post:
      tags: [Organizations]
      summary: Add domain (admin)
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
                autoApprove:
                  type: boolean
                  default: false
      responses:
        "201":
          description: Domain added

  /api/v1/organizations/{id}/domains/{domainId}:
    patch:
      tags: [Organizations]
      summary: Update domain (admin)
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: domainId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                autoApprove:
                  type: boolean
      responses:
        "200":
          description: Domain updated
    delete:
      tags: [Organizations]
      summary: Delete domain (admin)
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: domainId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Domain deleted

  /api/v1/memberships:
    get:
      tags: [Memberships]
      summary: List memberships
      parameters:
        - name: organization_id
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected]
      responses:
        "200":
          description: List of memberships
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Membership"
    post:
      tags: [Memberships]
      summary: Invite member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organizationId, email, roleId]
              properties:
                organizationId:
                  type: string
                email:
                  type: string
                  format: email
                roleId:
                  type: string
      responses:
        "201":
          description: Membership created

  /api/v1/memberships/{id}:
    patch:
      tags: [Memberships]
      summary: Update membership
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                roleId:
                  type: string
                status:
                  type: string
                  enum: [pending, approved, rejected]
                isBillingContact:
                  type: boolean
                isSecurityContact:
                  type: boolean
      responses:
        "200":
          description: Membership updated
    delete:
      tags: [Memberships]
      summary: Remove member
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "204":
          description: Membership removed

  /api/v1/memberships/mine:
    get:
      tags: [Memberships]
      summary: Get current user's memberships
      responses:
        "200":
          description: Current user's memberships

  /api/v1/users:
    get:
      tags: [Users]
      summary: List users (admin)
      responses:
        "200":
          description: List of users

  /api/v1/users/{id}:
    get:
      tags: [Users]
      summary: Get user
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: User details
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/users/{id}/detail:
    get:
      tags: [Users]
      summary: Get user with all related data (compound endpoint)
      description: Returns user, profile, memberships, organizations, roles, and allRoles in a single call.
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Compound user detail
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/users/{id}/role:
    patch:
      tags: [Users]
      summary: Update user role (admin)
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roleId]
              properties:
                roleId:
                  type: string
      responses:
        "200":
          description: Role updated

  /api/v1/profiles:
    get:
      tags: [Profiles]
      summary: List profiles
      parameters:
        - name: ids
          in: query
          schema:
            type: string
          description: Comma-separated IDs
      responses:
        "200":
          description: List of profiles

  /api/v1/profiles/{id}:
    get:
      tags: [Profiles]
      summary: Get profile
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Profile details
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Profiles]
      summary: Update profile
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                phone:
                  type: string
                title:
                  type: string
      responses:
        "200":
          description: Profile updated

  /api/v1/tickets:
    get:
      tags: [Tickets]
      summary: List tickets (paginated)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
        - name: organization_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated tickets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResult"
    post:
      tags: [Tickets]
      summary: Create ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTicket"
      responses:
        "201":
          description: Ticket created

  /api/v1/tickets/{id}:
    get:
      tags: [Tickets]
      summary: Get ticket
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Ticket details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Tickets]
      summary: Update ticket
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                status:
                  type: string
                  enum: [new, open, in_progress, waiting, resolved, closed]
                priority:
                  type: string
                  enum: [low, normal, high, urgent]
                category:
                  type: string
                assignedTo:
                  type: string
      responses:
        "200":
          description: Ticket updated

  /api/v1/tickets/{id}/comments:
    get:
      tags: [Tickets]
      summary: List ticket comments
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: List of comments
    post:
      tags: [Tickets]
      summary: Add ticket comment
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organizationId, body]
              properties:
                organizationId:
                  type: string
                body:
                  type: string
                  minLength: 1
                  maxLength: 10000
                isInternal:
                  type: boolean
                  default: false
      responses:
        "201":
          description: Comment added

  /api/v1/projects:
    get:
      tags: [Projects]
      summary: List projects (paginated)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
        - name: organization_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated projects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResult"
    post:
      tags: [Projects]
      summary: Create project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProject"
      responses:
        "201":
          description: Project created

  /api/v1/projects/{id}:
    get:
      tags: [Projects]
      summary: Get project
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Project details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Projects]
      summary: Update project
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                status:
                  type: string
                  enum: [planned, active, on_hold, completed, cancelled]
                priority:
                  type: string
                  enum: [low, normal, high, urgent]
                startsAt:
                  type: string
                  format: date-time
                dueAt:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Project updated
    delete:
      tags: [Projects]
      summary: Delete project
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "204":
          description: Project deleted

  /api/v1/projects/{id}/detail:
    get:
      tags: [Projects]
      summary: Get project with all related data (compound endpoint)
      description: Returns project, tasks, memberships, profiles, roles, comments, and readStates in a single call.
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Compound project detail
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/projects/{id}/tasks:
    get:
      tags: [Tasks]
      summary: List project tasks
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: List of tasks
    post:
      tags: [Tasks]
      summary: Create task
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 500
                description:
                  type: string
                details:
                  type: string
                status:
                  type: string
                  enum: [todo, in_progress, review, done]
                  default: todo
                sortOrder:
                  type: integer
                  default: 0
                dueAt:
                  type: string
                  format: date-time
                approvalRequired:
                  type: boolean
                  default: false
                ownerId:
                  type: string
      responses:
        "201":
          description: Task created

  /api/v1/projects/{id}/tasks/{taskId}:
    patch:
      tags: [Tasks]
      summary: Update task
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                details:
                  type: string
                status:
                  type: string
                  enum: [todo, in_progress, review, done]
                sortOrder:
                  type: integer
                dueAt:
                  type: string
                  format: date-time
                approvalRequired:
                  type: boolean
                ownerId:
                  type: string
      responses:
        "200":
          description: Task updated
    delete:
      tags: [Tasks]
      summary: Delete task
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Task deleted

  /api/v1/projects/{id}/tasks/comments:
    get:
      tags: [Tasks]
      summary: List task comments
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: organization_id
          in: query
          schema:
            type: string
        - name: is_internal
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: task_ids
          in: query
          schema:
            type: string
          description: Comma-separated task IDs
      responses:
        "200":
          description: List of comments

  /api/v1/projects/{id}/tasks/{taskId}/comments:
    post:
      tags: [Tasks]
      summary: Add task comment
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 10000
                isInternal:
                  type: boolean
                  default: false
      responses:
        "201":
          description: Comment added

  /api/v1/projects/{id}/tasks/{taskId}/comments/{commentId}:
    patch:
      tags: [Tasks]
      summary: Update task comment
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                isInternal:
                  type: boolean
      responses:
        "200":
          description: Comment updated
    delete:
      tags: [Tasks]
      summary: Delete task comment
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Comment deleted

  /api/v1/projects/{id}/tasks/read-states:
    get:
      tags: [Tasks]
      summary: Get read states
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: organization_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Read states

  /api/v1/projects/{id}/tasks/reorder:
    post:
      tags: [Tasks]
      summary: Reorder tasks
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order]
              properties:
                order:
                  type: array
                  items:
                    type: string
                  minItems: 1
      responses:
        "200":
          description: Tasks reordered

  /api/v1/projects/{id}/tasks/{taskId}/read:
    post:
      tags: [Tasks]
      summary: Mark task as read
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organizationId]
              properties:
                organizationId:
                  type: string
      responses:
        "200":
          description: Task marked as read

  /api/v1/projects/{id}/tasks/{taskId}/approve:
    post:
      tags: [Tasks]
      summary: Approve task
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organizationId]
              properties:
                organizationId:
                  type: string
      responses:
        "200":
          description: Task approved

  /api/v1/projects/{id}/updates:
    get:
      tags: [Projects]
      summary: List project updates
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: List of updates
    post:
      tags: [Projects]
      summary: Add project update
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 50000
                isInternal:
                  type: boolean
                  default: false
                isPinned:
                  type: boolean
                  default: false
      responses:
        "201":
          description: Update added

  /api/v1/projects/{id}/updates/{updateId}:
    patch:
      tags: [Projects]
      summary: Update project update
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: updateId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                isInternal:
                  type: boolean
                isPinned:
                  type: boolean
      responses:
        "200":
          description: Update modified
    delete:
      tags: [Projects]
      summary: Delete project update
      parameters:
        - $ref: "#/components/parameters/Id"
        - name: updateId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Update deleted

  /api/v1/documents:
    get:
      tags: [Documents]
      summary: List documents (paginated)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
        - name: organization_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated documents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResult"
    post:
      tags: [Documents]
      summary: Create document
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDocument"
      responses:
        "201":
          description: Document created

  /api/v1/documents/{id}:
    get:
      tags: [Documents]
      summary: Get document
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Document details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Documents]
      summary: Update document
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                visibility:
                  type: string
                  enum: [private, org, internal, public]
                folderPath:
                  type: string
      responses:
        "200":
          description: Document updated
    delete:
      tags: [Documents]
      summary: Delete document
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "204":
          description: Document deleted

  /api/v1/documents/{id}/signed-url:
    post:
      tags: [Documents]
      summary: Create signed URL for upload
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Signed URL created

  /api/v1/documents/upload:
    post:
      tags: [Documents]
      summary: Upload document file
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                organizationId:
                  type: string
                name:
                  type: string
      responses:
        "201":
          description: File uploaded

  /api/v1/documents/bulk/folder:
    post:
      tags: [Documents]
      summary: Bulk update folder path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [documentIds, folderPath]
              properties:
                documentIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                folderPath:
                  type: string
                  minLength: 1
                  maxLength: 500
      responses:
        "200":
          description: Documents updated

  /api/v1/documents/bulk/metadata:
    post:
      tags: [Documents]
      summary: Bulk update metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [documentIds]
              properties:
                documentIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                description:
                  type: string
                folderPath:
                  type: string
                visibility:
                  type: string
                  enum: [private, org, internal, public]
      responses:
        "200":
          description: Documents updated

  /api/v1/dashboard/summary:
    get:
      tags: [Dashboard]
      summary: Get dashboard summary counts
      responses:
        "200":
          description: Dashboard summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardSummary"

  /api/v1/audit:
    get:
      tags: [Audit]
      summary: List audit logs (paginated)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 25
        - name: organization_id
          in: query
          schema:
            type: string
        - name: actor_user_id
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
        - name: entity_type
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated audit logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResult"

  /api/v1/roles:
    get:
      tags: [Roles]
      summary: List roles
      parameters:
        - name: ids
          in: query
          schema:
            type: string
          description: Comma-separated IDs
      responses:
        "200":
          description: List of roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"

  /api/v1/roles/{id}:
    get:
      tags: [Roles]
      summary: Get role
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Role details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/webhooks/stripe:
    post:
      tags: [Webhooks]
      summary: Stripe webhook handler
      security: []
      responses:
        "200":
          description: Webhook processed

components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Resource ID
