# MCT Client Portal API - OpenAPI 3.0.3
# AUTO-GENERATED from apps/api/src/openapi/spec.ts (buildSpec()) - do not edit by hand.
# Regenerate with: pnpm --filter=api generate:openapi
openapi: "3.0.3"
info:
  title: "MCT Client Portal API"
  description: "Maine CyberTech Client Portal API. Bearer token authentication required unless noted as public."
  version: "1.0.0"
  contact:
    name: "MCT Support"
    email: "support@mainecybertech.com"
servers:
  - url: "https://api.mainecybertech.com"
    description: "Production"
  - url: "https://api.mainecybertech.us"
    description: "Dev"
  - url: "http://localhost:4000"
    description: "Local development"
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
paths:
  "/admin":
    get:
      tags:
        - "Admin"
      summary: "Admin overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/admin/dashboard":
    get:
      tags:
        - "Admin"
      summary: "Admin dashboard data"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/admin/health":
    get:
      tags:
        - "Admin"
      summary: "Health dashboard data"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/admin/test-email":
    post:
      tags:
        - "Admin"
      summary: "Send test email"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/ai":
    get:
      tags:
        - "AI"
      summary: "AI assist overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "AI"
      summary: "Run AI assist"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/ai/copilot/{ticketId}/reply-draft":
    post:
      tags:
        - "AI"
      summary: "Draft AI reply for ticket"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "ticketId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/ai/copilot/{ticketId}/summarize":
    get:
      tags:
        - "AI"
      summary: "Summarize ticket with AI"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "ticketId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/ai/triage":
    get:
      tags:
        - "AI"
      summary: "Get AI triage suggestions"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/ai/triage/analyze":
    post:
      tags:
        - "AI"
      summary: "Analyze tickets with AI"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/ai/triage/convert":
    post:
      tags:
        - "AI"
      summary: "Convert AI triage result to ticket"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/ai/{id}/generate":
    post:
      tags:
        - "AI"
      summary: "Generate AI content"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/analytics":
    get:
      tags:
        - "Analytics"
      summary: "Analytics overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/analytics/summary":
    get:
      tags:
        - "Analytics"
      summary: "Get analytics summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/analytics/track":
    post:
      tags:
        - "Analytics"
      summary: "Track analytics event (public)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/api-keys":
    get:
      tags:
        - "ApiKeys"
      summary: "List API keys"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "ApiKeys"
      summary: "Create API key"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/api-keys/:id":
    delete:
      tags:
        - "ApiKeys"
      summary: "Revoke API key"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/api-keys/{id}":
    patch:
      tags:
        - "Admin"
      summary: "Update API key"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Admin"
      summary: "Delete API key"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals":
    get:
      tags:
        - "Approvals"
      summary: "List approvals"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Approvals"
      summary: "Create approval request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/approvals/export":
    get:
      tags:
        - "Approvals"
      summary: "Export approvals (CSV/JSON)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/approvals/stats":
    get:
      tags:
        - "Approvals"
      summary: "Get approval statistics"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/approvals/{id}":
    get:
      tags:
        - "Approvals"
      summary: "Get approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Approvals"
      summary: "Update approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Approvals"
      summary: "Delete approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/approve":
    post:
      tags:
        - "Approvals"
      summary: "Approve/reject"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/cancel":
    post:
      tags:
        - "Approvals"
      summary: "Cancel approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/comments":
    get:
      tags:
        - "Approvals"
      summary: "List approval comments"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    post:
      tags:
        - "Approvals"
      summary: "Add approval comment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/reject":
    post:
      tags:
        - "Approvals"
      summary: "Reject approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/timeline":
    get:
      tags:
        - "Approvals"
      summary: "Get approval timeline"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/assets":
    get:
      tags:
        - "Assets"
      summary: "List assets"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Assets"
      summary: "Create asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/assets/:id":
    get:
      tags:
        - "Assets"
      summary: "Get asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    patch:
      tags:
        - "Assets"
      summary: "Update asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    delete:
      tags:
        - "Assets"
      summary: "Delete asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/assets/export":
    get:
      tags:
        - "Assets"
      summary: "Export assets (CSV/JSON)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/assets/stats":
    get:
      tags:
        - "Assets"
      summary: "Asset statistics"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/assets/{id}":
    get:
      tags:
        - "Assets"
      summary: "Get asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Assets"
      summary: "Update asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Assets"
      summary: "Delete asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/assets/{id}/comments":
    post:
      tags:
        - "Assets"
      summary: "Add asset comment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    get:
      tags:
        - "Assets"
      summary: "List asset comments"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/assets/{id}/timeline":
    get:
      tags:
        - "Assets"
      summary: "Get asset timeline"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/audit":
    get:
      tags:
        - "Audit"
      summary: "List audit logs"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/audit/export":
    get:
      tags:
        - "Audit"
      summary: "Export audit logs (CSV/JSON)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/auth/callback":
    post:
      tags:
        - "Auth"
      summary: "Exchange auth code for session"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
    get:
      tags:
        - "Auth"
      summary: "OAuth/session callback"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/auth/forgot-password":
    post:
      tags:
        - "Auth"
      summary: "Request password reset email"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                email:
                  type: "string"
              required:
                - "email"
  "/auth/me":
    get:
      tags:
        - "Auth"
      summary: "Get current user"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/auth/reset-password":
    post:
      tags:
        - "Auth"
      summary: "Reset password with token"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                token:
                  type: "string"
                password:
                  type: "string"
              required:
                - "token"
                - "password"
  "/auth/sign-in":
    post:
      tags:
        - "Auth"
      summary: "Sign in with email/password"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                email:
                  type: "string"
                password:
                  type: "string"
              required:
                - "email"
                - "password"
  "/auth/sign-out":
    post:
      tags:
        - "Auth"
      summary: "Sign out"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/auth/sign-up":
    post:
      tags:
        - "Auth"
      summary: "Create account"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                email:
                  type: "string"
                password:
                  type: "string"
                fullName:
                  type: "string"
              required:
                - "email"
                - "password"
  "/batch":
    get:
      tags:
        - "Batch"
      summary: "List batch operations"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Batch"
      summary: "Submit batch operation"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/batch/licenses/savings":
    get:
      tags:
        - "Batch"
      summary: "Get license savings"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/batch/status/public":
    get:
      tags:
        - "Batch"
      summary: "List public status items"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/billing":
    get:
      tags:
        - "Billing"
      summary: "Billing overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/billing-customer":
    get:
      tags:
        - "Billing"
      summary: "Get Stripe billing customer"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/create-portal-session":
    post:
      tags:
        - "Billing"
      summary: "Create billing portal session"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/invoices":
    get:
      tags:
        - "Billing"
      summary: "List invoices"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/invoices/{id}":
    get:
      tags:
        - "Billing"
      summary: "Get invoice"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/billing/payments":
    get:
      tags:
        - "Billing"
      summary: "List payments"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/subscriptions":
    get:
      tags:
        - "Billing"
      summary: "List subscriptions"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/summary":
    get:
      tags:
        - "Billing"
      summary: "Get billing summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/sync":
    post:
      tags:
        - "Billing"
      summary: "Sync billing data from Stripe"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/bulk":
    get:
      tags:
        - "Bulk"
      summary: "Bulk operations overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/bulk/invite":
    post:
      tags:
        - "Admin"
      summary: "Bulk invite users (CSV)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/business-os":
    post:
      tags:
        - "BusinessOS"
      summary: "Get business OS summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    get:
      tags:
        - "BusinessOS"
      summary: "Business OS snapshot"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/business-os/approvals-overdue":
    get:
      tags:
        - "BusinessOS"
      summary: "Get overdue approvals"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/business-os/org-health":
    get:
      tags:
        - "BusinessOS"
      summary: "Get org health"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/business-os/recent-activity":
    get:
      tags:
        - "BusinessOS"
      summary: "Get recent activity"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/business-os/summary":
    get:
      tags:
        - "BusinessOS"
      summary: "Get business OS summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/client-onboarding":
    get:
      tags:
        - "Onboarding"
      summary: "Client onboarding status"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Onboarding"
      summary: "Create client onboarding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/client-onboarding-command-center":
    get:
      tags:
        - "Onboarding"
      summary: "Client onboarding command center"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/client-onboarding/export.csv":
    get:
      tags:
        - "Onboarding"
      summary: "Export client onboarding (CSV)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/client-onboarding/{id}":
    get:
      tags:
        - "Onboarding"
      summary: "Get client onboarding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Onboarding"
      summary: "Update client onboarding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Onboarding"
      summary: "Delete client onboarding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/client-onboarding/{id}/checklist":
    get:
      tags:
        - "Onboarding"
      summary: "Get onboarding checklist"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/client-onboarding/{id}/checklist/{itemId}":
    patch:
      tags:
        - "Onboarding"
      summary: "Update onboarding checklist item"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "itemId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/client-onboarding/{id}/complete-phase":
    post:
      tags:
        - "Onboarding"
      summary: "Complete onboarding phase"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/dashboard":
    get:
      tags:
        - "Dashboard"
      summary: "Dashboard summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dashboard/activity-feed":
    get:
      tags:
        - "Dashboard"
      summary: "Recent activity feed"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dashboard/summary":
    get:
      tags:
        - "Dashboard"
      summary: "Dashboard summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dmarc-coach":
    get:
      tags:
        - "DMARC"
      summary: "DMARC coach overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "DMARCCoach"
      summary: "Create DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dmarc-coach/analyze":
    post:
      tags:
        - "DMARCCoach"
      summary: "Run DMARC analysis"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dmarc-coach/scan/{id}":
    post:
      tags:
        - "DMARCCoach"
      summary: "Run DMARC scan"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/dmarc-coach/{id}":
    get:
      tags:
        - "DMARCCoach"
      summary: "Get DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "DMARCCoach"
      summary: "Update DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "DMARCCoach"
      summary: "Delete DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/docs":
    get:
      tags:
        - "System"
      summary: "Swagger UI docs"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/documents":
    get:
      tags:
        - "Documents"
      summary: "List documents"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Documents"
      summary: "Upload document"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/documents/:id":
    get:
      tags:
        - "Documents"
      summary: "Get document"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    delete:
      tags:
        - "Documents"
      summary: "Delete document"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/documents/bulk/folder":
    post:
      tags:
        - "Documents"
      summary: "Bulk folder move"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/documents/bulk/metadata":
    post:
      tags:
        - "Documents"
      summary: "Bulk metadata update"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/documents/shares/{token}":
    get:
      tags:
        - "Documents"
      summary: "Get shared document by token (public)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      parameters:
        - name: "token"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/upload":
    post:
      tags:
        - "Documents"
      summary: "Upload document file"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/documents/{id}":
    delete:
      tags:
        - "Documents"
      summary: "Delete document"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Documents"
      summary: "Update document"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    get:
      tags:
        - "Documents"
      summary: "Get document"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/shares":
    post:
      tags:
        - "Documents"
      summary: "Create document share link"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    get:
      tags:
        - "Documents"
      summary: "List document shares"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/shares/{shareId}":
    patch:
      tags:
        - "Documents"
      summary: "Update document share"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "shareId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Documents"
      summary: "Delete document share"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "shareId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/signed-url":
    get:
      tags:
        - "Documents"
      summary: "Get signed download URL"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    post:
      tags:
        - "Documents"
      summary: "Create signed download URL"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/versions":
    get:
      tags:
        - "Documents"
      summary: "List document versions"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/versions/{versionId}":
    get:
      tags:
        - "Documents"
      summary: "Get document version"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "versionId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/domain-monitors":
    get:
      tags:
        - "DomainMonitors"
      summary: "List domain monitors"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "DomainMonitors"
      summary: "Create domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/domain-monitors/:id":
    get:
      tags:
        - "DomainMonitors"
      summary: "Get domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    patch:
      tags:
        - "DomainMonitors"
      summary: "Update domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    delete:
      tags:
        - "DomainMonitors"
      summary: "Delete domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/domain-monitors/export":
    get:
      tags:
        - "DomainMonitors"
      summary: "Export domain monitors"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/domain-monitors/stats":
    get:
      tags:
        - "DomainMonitors"
      summary: "Domain monitor statistics"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/domain-monitors/{id}":
    get:
      tags:
        - "DomainMonitors"
      summary: "Get domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "DomainMonitors"
      summary: "Update domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "DomainMonitors"
      summary: "Delete domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/domain-monitors/{id}/scan":
    post:
      tags:
        - "DomainMonitors"
      summary: "Trigger domain scan"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/dynamic-client-forms-builder":
    get:
      tags:
        - "Forms"
      summary: "Dynamic client forms"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dynamic-forms":
    get:
      tags:
        - "Forms"
      summary: "Dynamic forms"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Forms"
      summary: "Create dynamic form"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dynamic-forms/export.csv":
    get:
      tags:
        - "Forms"
      summary: "Export dynamic forms (CSV)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dynamic-forms/{id}":
    get:
      tags:
        - "Forms"
      summary: "Get dynamic form"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Forms"
      summary: "Update dynamic form"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Forms"
      summary: "Delete dynamic form"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/dynamic-forms/{id}/publish":
    post:
      tags:
        - "Forms"
      summary: "Publish dynamic form"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/dynamic-forms/{id}/submissions":
    get:
      tags:
        - "Forms"
      summary: "List form submissions"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/dynamic-forms/{id}/submit":
    post:
      tags:
        - "Forms"
      summary: "Submit dynamic form response"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/edu-automation":
    get:
      tags:
        - "Edu"
      summary: "Edu automation overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/edu-automation/automation/{id}/complete":
    post:
      tags:
        - "EduAutomation"
      summary: "Complete automation"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/edu-automation/automation/{id}/execute":
    post:
      tags:
        - "EduAutomation"
      summary: "Execute automation"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/edu-automation/compliance/score":
    post:
      tags:
        - "EduAutomation"
      summary: "Score compliance posture"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/edu-automation/kb-generator/{id}/generate":
    post:
      tags:
        - "EduAutomation"
      summary: "Generate knowledge base article"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/edu-automation/kb/search":
    get:
      tags:
        - "EduAutomation"
      summary: "Search knowledge base"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/edu-automation/kb/{id}/rate":
    post:
      tags:
        - "EduAutomation"
      summary: "Rate knowledge base article"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/edu-automation/phishing/{id}/launch":
    post:
      tags:
        - "EduAutomation"
      summary: "Launch phishing campaign"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/edu-automation/phishing/{id}/results":
    get:
      tags:
        - "EduAutomation"
      summary: "Get phishing campaign results"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/edu-automation/scorecards/evaluate":
    post:
      tags:
        - "EduAutomation"
      summary: "Evaluate scorecard"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/edu-automation/scorecards/leaderboard":
    get:
      tags:
        - "EduAutomation"
      summary: "Get scorecard leaderboard"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/edu-automation/scorecards/overview":
    get:
      tags:
        - "EduAutomation"
      summary: "Get scorecard overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/edu-automation/scorecards/summary":
    get:
      tags:
        - "EduAutomation"
      summary: "Get scorecard summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/field-services":
    get:
      tags:
        - "FieldServices"
      summary: "Field services overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/field-services/camera-calc/calculate":
    post:
      tags:
        - "FieldServices"
      summary: "Calculate camera coverage plan"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/field-services/isp/{id}/score":
    post:
      tags:
        - "FieldServices"
      summary: "Score ISP offering"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/field-services/network-diagrams/{id}/export":
    get:
      tags:
        - "FieldServices"
      summary: "Export network diagram"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/field-services/staging/{id}/checklist":
    post:
      tags:
        - "FieldServices"
      summary: "Get hardware staging checklist"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/field-services/unifi/{id}/plan":
    post:
      tags:
        - "FieldServices"
      summary: "Generate UniFi deployment plan"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/file-requests":
    get:
      tags:
        - "FileRequests"
      summary: "List file requests"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "FileRequests"
      summary: "Create file request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/file-requests/:id":
    get:
      tags:
        - "FileRequests"
      summary: "Get file request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    patch:
      tags:
        - "FileRequests"
      summary: "Update file request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    delete:
      tags:
        - "FileRequests"
      summary: "Delete file request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/file-requests/public/{token}":
    get:
      tags:
        - "FileRequests"
      summary: "Get public file request by token"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      parameters:
        - name: "token"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/file-requests/{id}":
    get:
      tags:
        - "FileRequests"
      summary: "Get file request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "FileRequests"
      summary: "Update file request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "FileRequests"
      summary: "Delete file request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/file-requests/{id}/upload":
    post:
      tags:
        - "FileRequests"
      summary: "Upload to file request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/final":
    get:
      tags:
        - "Final"
      summary: "Final/consolidated stats"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Final"
      summary: "Create final assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/final/backups/risk-analysis":
    get:
      tags:
        - "Final"
      summary: "Get backup risk analysis"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/final/backups/stats":
    get:
      tags:
        - "Final"
      summary: "Get backup statistics"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/final/budgets/analysis":
    get:
      tags:
        - "Final"
      summary: "Get budget analysis"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/final/dns-changes/{id}/approve":
    post:
      tags:
        - "Final"
      summary: "Approve DNS change request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/final/dns-changes/{id}/implement":
    post:
      tags:
        - "Final"
      summary: "Implement DNS change request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/final/dns-changes/{id}/reject":
    post:
      tags:
        - "Final"
      summary: "Reject DNS change request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/final/procurement/compare":
    post:
      tags:
        - "Final"
      summary: "Compare procurement options"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/final/sharepoint/structure-summary":
    get:
      tags:
        - "Final"
      summary: "Get SharePoint structure summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/final/time-entries/summary":
    get:
      tags:
        - "Final"
      summary: "Summarize time entries by period"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/findings":
    get:
      tags:
        - "Findings"
      summary: "List findings"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Findings"
      summary: "Create finding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/findings/:id":
    get:
      tags:
        - "Findings"
      summary: "Get finding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    patch:
      tags:
        - "Findings"
      summary: "Update finding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    delete:
      tags:
        - "Findings"
      summary: "Delete finding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/findings/export":
    get:
      tags:
        - "Findings"
      summary: "Export findings (CSV/JSON)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/findings/stats":
    get:
      tags:
        - "Findings"
      summary: "Get finding statistics"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/findings/{id}":
    get:
      tags:
        - "Findings"
      summary: "Get finding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Findings"
      summary: "Update finding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Findings"
      summary: "Delete finding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/findings/{id}/comments":
    get:
      tags:
        - "Findings"
      summary: "List finding comments"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    post:
      tags:
        - "Findings"
      summary: "Add finding comment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/findings/{id}/resolve":
    post:
      tags:
        - "Findings"
      summary: "Resolve finding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/findings/{id}/timeline":
    get:
      tags:
        - "Findings"
      summary: "Get finding timeline"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/findings/{id}/verify":
    post:
      tags:
        - "Findings"
      summary: "Verify finding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/governance":
    get:
      tags:
        - "Governance"
      summary: "Governance overview"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/governance/change-requests/{id}/approve":
    post:
      tags:
        - "Governance"
      summary: "Approve change request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/governance/change-requests/{id}/implement":
    post:
      tags:
        - "Governance"
      summary: "Implement change request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/governance/change-requests/{id}/reject":
    post:
      tags:
        - "Governance"
      summary: "Reject change request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/governance/change-requests/{id}/submit":
    post:
      tags:
        - "Governance"
      summary: "Submit change request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/governance/change-requests/{id}/verify":
    post:
      tags:
        - "Governance"
      summary: "Verify change request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/governance/controls":
    get:
      tags:
        - "Governance"
      summary: "List controls"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
[...]
