# MCT Client Portal API - OpenAPI 3.0.3
# AUTO-GENERATED from apps/api/src/openapi/spec.ts (buildSpec()) - do not edit by hand.
# Regenerate with: pnpm --filter=api generate:openapi
# Includes dynamically registered factory routes; only statically-resolvable routes are gated by scripts/openapi-audit.js.
openapi: "3.0.3"
info:
  title: "MCT Client Portal API"
  description: "Maine CyberTech Client Portal API. Bearer token authentication required unless noted as public."
  version: "1.0.0"
  contact:
    name: "MCT Support"
    email: "support@mainecybertech.com"
servers:
  - url: "https://api.mainecybertech.com/api/v1"
    description: "Production"
  - url: "https://api.mainecybertech.us/api/v1"
    description: "Dev"
  - url: "http://localhost:4000/api/v1"
    description: "Local development"
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
paths:
  "/admin/organizations":
    get:
      tags:
        - "Admin"
      summary: "List all organizations (super admin)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/admin/test-email":
    post:
      tags:
        - "Admin"
      summary: "Send test email"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/ai/copilot/{ticketId}/reply-draft":
    post:
      tags:
        - "AI"
      summary: "Draft AI reply for ticket"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "ticketId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/ai/copilot/{ticketId}/summarize":
    get:
      tags:
        - "AI"
      summary: "Summarize ticket with AI"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "ticketId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/ai/triage":
    get:
      tags:
        - "AI"
      summary: "Get AI triage suggestions"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/ai/triage/analyze":
    post:
      tags:
        - "AI"
      summary: "Analyze tickets with AI"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/ai/triage/convert":
    post:
      tags:
        - "AI"
      summary: "Convert AI triage result to ticket"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/analytics":
    get:
      tags:
        - "Analytics"
      summary: "List analytics events (admin)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/analytics/summary":
    get:
      tags:
        - "Analytics"
      summary: "Get analytics summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/analytics/track":
    post:
      tags:
        - "Analytics"
      summary: "Track analytics event (public)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/api-keys":
    get:
      tags:
        - "Admin"
      summary: "List API keys"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Admin"
      summary: "Create API key"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/api-keys/{id}":
    patch:
      tags:
        - "Admin"
      summary: "Update API key"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Admin"
      summary: "Delete API key"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals":
    get:
      tags:
        - "Approvals"
      summary: "List approvals"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Approvals"
      summary: "Create approval request"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/approvals/export":
    get:
      tags:
        - "Approvals"
      summary: "Export approvals (CSV/JSON)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/approvals/stats":
    get:
      tags:
        - "Approvals"
      summary: "Get approval statistics"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/approvals/{id}":
    get:
      tags:
        - "Approvals"
      summary: "Get approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Approvals"
      summary: "Update approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Approvals"
      summary: "Delete approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/approve":
    post:
      tags:
        - "Approvals"
      summary: "Approve/reject"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/cancel":
    post:
      tags:
        - "Approvals"
      summary: "Cancel approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/comments":
    get:
      tags:
        - "Approvals"
      summary: "List approval comments"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    post:
      tags:
        - "Approvals"
      summary: "Add approval comment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/reject":
    post:
      tags:
        - "Approvals"
      summary: "Reject approval"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/approvals/{id}/timeline":
    get:
      tags:
        - "Approvals"
      summary: "Get approval timeline"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/assets":
    get:
      tags:
        - "Assets"
      summary: "List assets"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Assets"
      summary: "Create asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/assets/export":
    get:
      tags:
        - "Assets"
      summary: "Export assets (CSV/JSON)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/assets/stats":
    get:
      tags:
        - "Assets"
      summary: "Asset statistics"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/assets/{id}":
    get:
      tags:
        - "Assets"
      summary: "Get asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Assets"
      summary: "Update asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Assets"
      summary: "Delete asset"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/assets/{id}/comments":
    post:
      tags:
        - "Assets"
      summary: "Add asset comment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    get:
      tags:
        - "Assets"
      summary: "List asset comments"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/assets/{id}/timeline":
    get:
      tags:
        - "Assets"
      summary: "Get asset timeline"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/audit":
    get:
      tags:
        - "Audit"
      summary: "List audit logs"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "entity_type"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "action"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/audit/export":
    get:
      tags:
        - "Audit"
      summary: "Export audit logs (CSV/JSON)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/audit/impersonation":
    get:
      tags:
        - "Audit"
      summary: "List cross-tenant impersonation events (platform admin only)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "organization_id"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "actor_user_id"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/audit/impersonation/export":
    get:
      tags:
        - "Audit"
      summary: "Export cross-tenant impersonation events (platform admin only)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "organization_id"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "actor_user_id"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/auth/callback":
    post:
      tags:
        - "Auth"
      summary: "Exchange auth code for session"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/auth/forgot-password":
    post:
      tags:
        - "Auth"
      summary: "Request password reset email"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                email:
                  type: "string"
              required:
                - "email"
  "/auth/me":
    get:
      tags:
        - "Auth"
      summary: "Get current user"
      responses:
        200:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "userId"
                      - "email"
                    properties:
                      userId:
                        type: "string"
                      email:
                        type: "string"
                      fullName:
                        type: "string"
                        nullable: true
                      phone:
                        type: "string"
                        nullable: true
                      title:
                        type: "string"
                        nullable: true
                      isSuperAdmin:
                        type: "boolean"
                      defaultOrganizationId:
                        type: "string"
                        nullable: true
                      createdAt:
                        type: "string"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/auth/mfa/challenge":
    post:
      tags:
        - "Auth"
      summary: "Create an MFA challenge for a factor"
      responses:
        200:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "challengeId"
                      - "expiresAt"
                    properties:
                      challengeId:
                        type: "string"
                      expiresAt:
                        type: "number"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                factorId:
                  type: "string"
              required:
                - "factorId"
  "/auth/mfa/enroll":
    post:
      tags:
        - "Auth"
      summary: "Start TOTP factor enrollment"
      responses:
        201:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "factorId"
                      - "type"
                      - "friendlyName"
                      - "qrCode"
                      - "secret"
                      - "uri"
                    properties:
                      factorId:
                        type: "string"
                      type:
                        type: "string"
                      friendlyName:
                        type: "string"
                        nullable: true
                      qrCode:
                        type: "string"
                      secret:
                        type: "string"
                      uri:
                        type: "string"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                friendlyName:
                  type: "string"
  "/auth/mfa/factors":
    get:
      tags:
        - "Auth"
      summary: "List MFA factors for the current user"
      responses:
        200:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "totp"
                      - "all"
                    properties:
                      totp:
                        type: "array"
                        items:
                          type: "object"
                          required:
                            - "id"
                            - "friendlyName"
                            - "status"
                            - "createdAt"
                          properties:
                            id:
                              type: "string"
                            friendlyName:
                              type: "string"
                              nullable: true
                            status:
                              type: "string"
                            createdAt:
                              type: "string"
                      all:
                        type: "array"
                        items:
                          type: "object"
                          required:
                            - "id"
                            - "factorType"
                            - "friendlyName"
                            - "status"
                          properties:
                            id:
                              type: "string"
                            factorType:
                              type: "string"
                            friendlyName:
                              type: "string"
                              nullable: true
                            status:
                              type: "string"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/auth/mfa/factors/{factorId}":
    delete:
      tags:
        - "Auth"
      summary: "Remove an MFA factor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "factorId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/auth/mfa/recovery":
    post:
      tags:
        - "Auth"
      summary: "Redeem an MFA recovery code (unenrolls verified factors)"
      responses:
        200:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "ok"
                      - "factorsRemoved"
                    properties:
                      ok:
                        type: "boolean"
                      factorsRemoved:
                        type: "number"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                code:
                  type: "string"
              required:
                - "code"
  "/auth/mfa/recovery-codes":
    post:
      tags:
        - "Auth"
      summary: "Generate MFA recovery codes (aal2 required when a factor is enrolled)"
      responses:
        201:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "codes"
                      - "remaining"
                    properties:
                      codes:
                        type: "array"
                        items:
                          type: "string"
                      remaining:
                        type: "number"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    get:
      tags:
        - "Auth"
      summary: "Get MFA recovery-code status"
      responses:
        200:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "remaining"
                      - "total"
                      - "lastGeneratedAt"
                    properties:
                      remaining:
                        type: "number"
                      total:
                        type: "number"
                      lastGeneratedAt:
                        type: "string"
                        nullable: true
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    delete:
      tags:
        - "Auth"
      summary: "Revoke all MFA recovery codes (aal2 required when a factor is enrolled)"
      responses:
        200:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "ok"
                    properties:
                      ok:
                        type: "boolean"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/auth/mfa/verify":
    post:
      tags:
        - "Auth"
      summary: "Verify an MFA challenge and upgrade the session"
      responses:
        200:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "accessToken"
                      - "user"
                    properties:
                      accessToken:
                        type: "string"
                      user:
                        type: "object"
                        required:
                          - "id"
                          - "email"
                        properties:
                          id:
                            type: "string"
                          email:
                            type: "string"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                factorId:
                  type: "string"
                challengeId:
                  type: "string"
                code:
                  type: "string"
              required:
                - "factorId"
                - "challengeId"
                - "code"
  "/auth/reset-password":
    post:
      tags:
        - "Auth"
      summary: "Reset password with token"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                token:
                  type: "string"
                password:
                  type: "string"
              required:
                - "token"
                - "password"
  "/auth/sign-in":
    post:
      tags:
        - "Auth"
      summary: "Sign in with email/password (returns mfaRequired when a TOTP factor is enrolled)"
      responses:
        200:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "accessToken"
                      - "user"
                      - "mfaRequired"
                    properties:
                      accessToken:
                        type: "string"
                      user:
                        type: "object"
                        required:
                          - "id"
                          - "email"
                        properties:
                          id:
                            type: "string"
                          email:
                            type: "string"
                      mfaRequired:
                        type: "boolean"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                email:
                  type: "string"
                password:
                  type: "string"
              required:
                - "email"
                - "password"
  "/auth/sign-out":
    post:
      tags:
        - "Auth"
      summary: "Sign out"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/auth/sign-up":
    post:
      tags:
        - "Auth"
      summary: "Create account"
      responses:
        200:
          description: "Success"
          content:
            "application/json":
              schema:
                type: "object"
                required:
                  - "success"
                  - "data"
                properties:
                  success:
                    type: "boolean"
                  data:
                    type: "object"
                    required:
                      - "user"
                    properties:
                      user:
                        type: "object"
                        required:
                          - "id"
                          - "email"
                        properties:
                          id:
                            type: "string"
                          email:
                            type: "string"
                        nullable: true
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                email:
                  type: "string"
                password:
                  type: "string"
                fullName:
                  type: "string"
              required:
                - "email"
                - "password"
  "/batch/dmarc":
    get:
      tags:
        - "Batch"
      summary: "List DMARC assessments"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Batch"
      summary: "Create DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/batch/dmarc/{id}":
    get:
      tags:
        - "Batch"
      summary: "Get DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Batch"
      summary: "Update DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Batch"
      summary: "Delete DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/batch/licenses":
    get:
      tags:
        - "Batch"
      summary: "List licenses"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Batch"
      summary: "Create license"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/batch/licenses/savings":
    get:
      tags:
        - "Batch"
      summary: "Get license savings"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/batch/licenses/{id}":
    get:
      tags:
        - "Batch"
      summary: "Get license"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Batch"
      summary: "Update license"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Batch"
      summary: "Delete license"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/batch/status":
    get:
      tags:
        - "Batch"
      summary: "List status items"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Batch"
      summary: "Create status item"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/batch/status/public":
    get:
      tags:
        - "Batch"
      summary: "List public status items"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/batch/status/{id}":
    get:
      tags:
        - "Batch"
      summary: "Get status item"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Batch"
      summary: "Update status item"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Batch"
      summary: "Delete status item"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/batch/website-monitors":
    get:
      tags:
        - "Batch"
      summary: "List website monitors"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Batch"
      summary: "Create website monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/batch/website-monitors/{id}":
    get:
      tags:
        - "Batch"
      summary: "Get website monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Batch"
      summary: "Update website monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Batch"
      summary: "Delete website monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/billing/billing-customer":
    get:
      tags:
        - "Billing"
      summary: "Get Stripe billing customer"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/create-portal-session":
    post:
      tags:
        - "Billing"
      summary: "Create billing portal session"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/invoices":
    get:
      tags:
        - "Billing"
      summary: "List invoices"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/invoices/{id}":
    get:
      tags:
        - "Billing"
      summary: "Get invoice"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/billing/payments":
    get:
      tags:
        - "Billing"
      summary: "List payments"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/subscriptions":
    get:
      tags:
        - "Billing"
      summary: "List subscriptions"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/summary":
    get:
      tags:
        - "Billing"
      summary: "Get billing summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/billing/sync":
    post:
      tags:
        - "Billing"
      summary: "Sync billing data from Stripe"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/bulk/invite":
    post:
      tags:
        - "Admin"
      summary: "Bulk invite users (CSV)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/business-os/approvals-overdue":
    get:
      tags:
        - "BusinessOS"
      summary: "Get overdue approvals"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/business-os/org-health":
    get:
      tags:
        - "BusinessOS"
      summary: "Get org health"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/business-os/recent-activity":
    get:
      tags:
        - "BusinessOS"
      summary: "Get recent activity"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/business-os/snapshots":
    get:
      tags:
        - "BusinessOS"
      summary: "List Business OS metric snapshots"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/business-os/summary":
    get:
      tags:
        - "BusinessOS"
      summary: "Get business OS summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/cab/agenda/{id}":
    patch:
      tags:
        - "CAB"
      summary: "Update CAB agenda item"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                decision:
                  type: "string"
                notes:
                  type: "string"
  "/cab/meetings":
    get:
      tags:
        - "CAB"
      summary: "List CAB meetings with agenda"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "status"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
    post:
      tags:
        - "CAB"
      summary: "Create CAB meeting"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                organizationId:
                  type: "string"
                scheduledAt:
                  type: "string"
                status:
                  type: "string"
                notes:
                  type: "string"
              required:
                - "organizationId"
  "/cab/meetings/{id}":
    get:
      tags:
        - "CAB"
      summary: "Get CAB meeting with agenda"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/cab/meetings/{id}/agenda":
    post:
      tags:
        - "CAB"
      summary: "Add CAB agenda item"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                changeRequestId:
                  type: "string"
                decision:
                  type: "string"
                notes:
                  type: "string"
              required:
                - "changeRequestId"
  "/client-onboarding":
    get:
      tags:
        - "Onboarding"
      summary: "Client onboarding status"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Onboarding"
      summary: "Create client onboarding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/client-onboarding/export.csv":
    get:
      tags:
        - "Onboarding"
      summary: "Export client onboarding (CSV)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/client-onboarding/{id}":
    get:
      tags:
        - "Onboarding"
      summary: "Get client onboarding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Onboarding"
      summary: "Update client onboarding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Onboarding"
      summary: "Delete client onboarding"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/client-onboarding/{id}/checklist":
    get:
      tags:
        - "Onboarding"
      summary: "Get onboarding checklist"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/client-onboarding/{id}/checklist/{itemId}":
    patch:
      tags:
        - "Onboarding"
      summary: "Update onboarding checklist item"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "itemId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/client-onboarding/{id}/complete-phase":
    post:
      tags:
        - "Onboarding"
      summary: "Complete onboarding phase"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/client-portal/bootstrap":
    get:
      tags:
        - "ClientPortal"
      summary: "Get portal bootstrap (profile, memberships, enabled modules)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/client-portal/entitlements":
    get:
      tags:
        - "ClientPortal"
      summary: "List module entitlements for an organization"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "organization_id"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
    put:
      tags:
        - "ClientPortal"
      summary: "Update module entitlements for an organization"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                organizationId:
                  type: "string"
                modules:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      moduleKey:
                        type: "string"
                      enabled:
                        type: "boolean"
                    required:
                      - "moduleKey"
                      - "enabled"
              required:
                - "organizationId"
                - "modules"
  "/compliance/controls/{id}":
    patch:
      tags:
        - "Compliance"
      summary: "Update compliance control"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                title:
                  type: "string"
                status:
                  type: "string"
                owner:
                  type: "string"
                dueAt:
                  type: "string"
                notes:
                  type: "string"
    delete:
      tags:
        - "Compliance"
      summary: "Delete compliance control"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/compliance/frameworks":
    get:
      tags:
        - "Compliance"
      summary: "List compliance frameworks"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "organization_id"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
    post:
      tags:
        - "Compliance"
      summary: "Create compliance framework"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                organizationId:
                  type: "string"
                name:
                  type: "string"
                description:
                  type: "string"
              required:
                - "organizationId"
                - "name"
  "/compliance/frameworks/{id}/controls":
    get:
      tags:
        - "Compliance"
      summary: "List controls for a framework"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "organization_id"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
    post:
      tags:
        - "Compliance"
      summary: "Create control in a framework"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                organizationId:
                  type: "string"
                title:
                  type: "string"
                status:
                  type: "string"
                owner:
                  type: "string"
                dueAt:
                  type: "string"
                notes:
                  type: "string"
              required:
                - "organizationId"
                - "title"
  "/dashboard/summary":
    get:
      tags:
        - "Dashboard"
      summary: "Dashboard summary"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/device-profiles":
    get:
      tags:
        - "DeviceProfiles"
      summary: "List device profiles"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "organizationId"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "type"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "manufacturer"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "search"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
    post:
      tags:
        - "DeviceProfiles"
      summary: "Create device profile"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                organizationId:
                  type: "string"
                name:
                  type: "string"
                type:
                  type: "string"
                manufacturer:
                  type: "string"
                model:
                  type: "string"
                specs:
                  type: "object"
              required:
                - "organizationId"
                - "name"
  "/device-profiles/{id}":
    get:
      tags:
        - "DeviceProfiles"
      summary: "Get device profile"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "organization_id"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "DeviceProfiles"
      summary: "Update device profile"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                name:
                  type: "string"
                type:
                  type: "string"
                manufacturer:
                  type: "string"
                model:
                  type: "string"
                specs:
                  type: "object"
    delete:
      tags:
        - "DeviceProfiles"
      summary: "Delete device profile"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/dmarc-coach":
    get:
      tags:
        - "DMARCCoach"
      summary: "List DMARC assessments"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "DMARCCoach"
      summary: "Create DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dmarc-coach/analyze":
    post:
      tags:
        - "DMARCCoach"
      summary: "Run DMARC analysis"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dmarc-coach/{id}":
    get:
      tags:
        - "DMARCCoach"
      summary: "Get DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "DMARCCoach"
      summary: "Update DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "DMARCCoach"
      summary: "Delete DMARC assessment"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/docs":
    get:
      tags:
        - "System"
      summary: "Swagger UI docs"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
  "/documents":
    get:
      tags:
        - "Documents"
      summary: "List documents"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "type"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
        - name: "limit"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
    post:
      tags:
        - "Documents"
      summary: "Create document metadata"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/documents/bulk/folder":
    post:
      tags:
        - "Documents"
      summary: "Bulk folder move"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/documents/bulk/metadata":
    post:
      tags:
        - "Documents"
      summary: "Bulk metadata update"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/documents/shares/{token}":
    get:
      tags:
        - "Documents"
      summary: "Get shared document by token (public)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security: []
      parameters:
        - name: "token"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/upload":
    post:
      tags:
        - "Documents"
      summary: "Upload document file"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/documents/{id}":
    delete:
      tags:
        - "Documents"
      summary: "Delete document"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Documents"
      summary: "Update document"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    get:
      tags:
        - "Documents"
      summary: "Get document"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/shares":
    post:
      tags:
        - "Documents"
      summary: "Create document share link"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    get:
      tags:
        - "Documents"
      summary: "List document shares"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/shares/{shareId}":
    patch:
      tags:
        - "Documents"
      summary: "Update document share"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "shareId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "Documents"
      summary: "Delete document share"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "shareId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/signed-url":
    post:
      tags:
        - "Documents"
      summary: "Create signed download URL"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/versions":
    get:
      tags:
        - "Documents"
      summary: "List document versions"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/documents/{id}/versions/{versionId}":
    get:
      tags:
        - "Documents"
      summary: "Get document version"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
        - name: "versionId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/domain-monitors":
    get:
      tags:
        - "DomainMonitors"
      summary: "List domain monitors"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "DomainMonitors"
      summary: "Create domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/domain-monitors/export":
    get:
      tags:
        - "DomainMonitors"
      summary: "Export domain monitors"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "format"
          in: "query"
          required: false
          schema:
            type: "string"
          description: undefined
  "/domain-monitors/stats":
    get:
      tags:
        - "DomainMonitors"
      summary: "Domain monitor statistics"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/domain-monitors/{id}":
    get:
      tags:
        - "DomainMonitors"
      summary: "Get domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "DomainMonitors"
      summary: "Update domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    delete:
      tags:
        - "DomainMonitors"
      summary: "Delete domain monitor"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
  "/dynamic-forms":
    get:
      tags:
        - "Forms"
      summary: "Dynamic forms"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
    post:
      tags:
        - "Forms"
      summary: "Create dynamic form"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dynamic-forms/export.csv":
    get:
      tags:
        - "Forms"
      summary: "Export dynamic forms (CSV)"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
  "/dynamic-forms/{id}":
    get:
      tags:
        - "Forms"
      summary: "Get dynamic form"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: undefined
    patch:
      tags:
        - "Forms"
      summary: "Update dynamic form"
      responses:
        200:
          description: "Success"
        400:
          description: "Bad request"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        500:
          description: "Internal server error"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
[...]
